<h1>Artists</h1>

<ul>
  <% @artists.each do |artist| %>
    <%= link_to artist.name, artist_path(artist) %><br>
      <% if artist.song_count > 0 %>
      <h2><%= @artist.songs.count %> <%= pluralize(@artist.songs.count, 'Song') %></h2>
      <li>
        <% @artist.songs.each do |i| %>
          <%= link_to i.title, song_path(i) %>
        <% end %>
      </li>
      <% end %>
</ul>
