<h1>Artist</h1>

Name: <%= link_to @artist.name, artist_path(@artist) %><br>
Songs:
<ul>
  <% @artist.%>
  <%= link_to @song.artist_name, artist_path(@song.artist)%>

</ul>
<%= link_to @song.artist_name, artist_path(@song.artist)%>
