<h1>Artist</h1>

Name: <%= link_to @artist.name, artist_path(@artist) %><br>
Songs:
<ul>
  <% if @artist.song_count > 0 %>
  <li>
    <% @artist.songs.each do |i| %>
      <%= link_to i.name, song_path(i) %>
    <% end %>
  </li>
  <% end %>
</ul>
<%= link_to @song.artist_name, artist_path(@song.artist)%>
